<div class="container">
    <h1>My personal home page</h1>
    <p>There is nothing here, I'm only doing this to learn some RoR</p>

    <%= link_to "About Me", about_path, class: 'btn btn-secondary' %>
    <%= link_to "Blog", posts_path, class: 'btn btn-primary' %>
</div>

